.header {
  background-color: #ff4da6; /* Яскраво-рожевий */
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
}
